<!DOCTYPE html>
<html>
<head>
    <title>Create Gatepass</title>
</head>
<body>
<h2>Create New Gatepass</h2>
<form action="/gatepass/" method="post">
    Site: <input type="text" name="site"><br>
    Site Type: <input type="text" name="siteType"><br>
    Block: <input type="text" name="siteAddress"><br>
    Vendor Name: <input type="text" name="vendorName"><br>
    Status: <input type="text" name="status"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
