<!DOCTYPE html>
<html>
<head>
    <title>Gatepass Home</title>
</head>
<body>
    <h1>Welcome to the Gatepass Management System</h1>
    <a href="/gatepasses/create">Create New Gatepass</a><br>
    <a href="/gatepasses">View All Gatepasses</a>
</body>
</html>
